<h2>Create</h2>
<form action="/Product/Create" method="post">
    <input type="text" name="Name" placeholder="Name" class="form-control" />
    <input type="number" name="Price" placeholder="Price" class="form-control" />
    <input type="number" name="Qty" placeholder="Qty" class="form-control" />
    <input type="submit" name="Add"/>
</form>